body{
    margin: 0;
    --picture-first-indent: 0%;
    --picture-second-indent: 100%;
    --picture-third-indent: 200%;
    --picture-fourth-indent: 300%;
    --slider-background-color: rgb(85, 85, 85);
}
.slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--slider-background-color);
}
.slider-wrapper{
    width: 80%;
    height: 80%;
    background-color:var(--slider-background-color);
}
.slider-pictures{
    position: relative;
    width:100%;
    height: 95%;
    overflow-x: hidden;
    border-radius: 15px;
}
.slider-text{
    position: relative;
    width:100%;
    padding: 10px 0;
    overflow-x: hidden;
}
.slider-text .text{
    position: absolute;
    width: 100%;
    top:0;
    transition: .3s;
}
.picture{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}
.dot{
    position: relative;
    width:25px;
    height: 25px;
    cursor: pointer;
}
.dot::before{
    position: absolute;
    box-sizing: border-box;
    content: "";
    border:solid 3px paleturquoise;
    background-color: paleturquoise;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    transition: background-color .3s;
}
.dot:hover::before{
    background-color: rgb(112, 192, 216);
}
.dot:checked::before{
    background-color: var(--slider-background-color);
}

.first{
    left: var(--picture-first-indent);
}
.second{
    left: var(--picture-second-indent);
}
.third{
    left: var(--picture-third-indent);
}
.fourth{
    left: var(--picture-fourth-indent);
}

.sec-dot:checked ~ .slider-pictures img,
.sec-dot:checked ~ .slider-text article
{
    transform: translateX(-100%); 
}
.third-dot:checked ~ .slider-pictures img,
.third-dot:checked ~ .slider-text article{
    transform: translateX(-200%); 
}
.fourth-dot:checked ~ .slider-pictures img,
.fourth-dot:checked ~ .slider-text article{
    transform: translateX(-300%); 
}