body{
    margin: 0;
    --picture-first-indent: 0%;
    --picture-second-indent: 100%;
    --picture-third-indent: 200%;
    --picture-fourth-indent: 300%;
    --slider-background-color: rgb(85, 85, 85);
}
@font-face {
    font-family: Rampart;
    src: url(./fonts/RampartOne-Regular.ttf);
}
.slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--slider-background-color);
}
.slider-wrapper{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* width:100%;
    height: 95%; */
    overflow-x: hidden;
    border-radius: 15px;
    width: 90%;
    height: 90%;
    background-color:var(--slider-background-color);
}
.slider{
    
}
.slider-pictures{
    position: relative;
    width: 100%;
    height: 90%;
}
.slider-text{
    position: relative;
    width:95%;
    height: 30px;
    overflow-x:hidden;
}
 .text{
    position: absolute;
    width: 100%;
    bottom:0;
    font-family: Rampart;
    color: white;
    font-size: 25px;
    transition: .3s;
    text-align: start;
    margin:0;
}
.picture{
    position: absolute;
    top:0;
    width: 100%;
    height: 90%;
    object-fit: cover;
    object-position: top;
    border-radius: 15px;
    transition: .3s;
}
.dot{
    position: relative;
    z-index:1;
    width:25px;
    height: 25px;
    cursor: pointer;
}

.dot::before{
    position: absolute;
    box-sizing: border-box;
    content: "";
    border:solid 3px paleturquoise;
    background-color: paleturquoise;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    transition: .3s;
}
.dot:hover::before{
    background-color: peachpuff;
    border-color: peachpuff;
}
.dot:checked::before{
    background-color: var(--slider-background-color);
}


.first{
    left: var(--picture-first-indent);
}
.second{
    left: var(--picture-second-indent);
}
.third{
    left: var(--picture-third-indent);
}
.fourth{
    left: var(--picture-fourth-indent);
}

.space-line{
    width: 100%;
    height: 25px;
}


.sec-dot:checked ~  img,
.sec-dot:checked ~ article
{
    transform: translateX(-100%); 
}
.third-dot:checked ~  img,
.third-dot:checked ~  article{
    transform: translateX(-200%); 
}
.fourth-dot:checked ~  img,
.fourth-dot:checked ~  article{
    transform: translateX(-300%); 
}

@media (max-width: 768px) {
    .slider-wrapper{
        height: 90%;  
        height: 55%;
        justify-content: center;
        align-items:flex-end;   
    }
    .dot{
        margin-bottom: 45px;
    }
    .picture{
        height: 80%;
    }
    .text{
        bottom: 0;
        text-align: center;
        font-size: 17px;
    }
    
}
